<div class="margin-top-100px"></div>
<div id="h1_section"></div>
<div class="margin-top-100px"></div>

<div id="des_section"></div>


<style>
    .margin-top-100px {
        margin-top: 100px;
    }

    #pages_json_4 div {
        padding: 10px;

    }

    #pages_json_4 {
        display: none;
    }
</style>

<script>
    function header_3(_this) {
        var pages_json_4 = document.getElementById("pages_json_4");



        if (pages_json_4.title == "none") {
            pages_json_4.style.display = "block";
            pages_json_4.style.opacity = "1";

            pages_json_4.title = "block";
        }
        else {
            pages_json_4.style.display = "none";
            pages_json_4.title = "none";


        }
    }







</script>

<div class="display_flex_space_around wrap_el display_none" style="margin-top: 100px;">
 
    <div id="card" class="card_clone" style="width:400px; margin-bottom: 50px;">
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" 
            style="max-width:400px">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">Voir article</a>
        </div>
    </div> 
</div>




 
<div id="myList1"></div>
<div id="myList2"></div>
 

<script>
 
  var node = document.getElementsByClassName("card_clone")[0];
  node.setAttribute("id","elementok") ; 
  var clone = node.cloneNode(true);
  document.getElementById("myList1").appendChild(clone);
 

  var node = document.getElementsByClassName("card_clone")[0];
  var clone = node.cloneNode(true);
  document.getElementById("myList2").appendChild(clone);
 
</script>






<style>
    .wrap_el{
        flex-wrap: wrap;
    }
    .display_none{
        display: none;
    }
    #elementok{
        background-color: blue;
    }
</style>



<script>

</script>